# Environment variables
# Never commit your .env file!
.env
.env.*
!/.env.example

# Python artifacts
__pycache__/
*.pyc
*.pyo
*.pyd
*.so
.Python

# Virtual environment
# This is the folder containing all your installed Python packages
.venv/
venv/
env/

# Database
# Ignore the Docker volume data if you ever map it to a local folder
pgdata/

# IDE / Editor specific files
.vscode/
.idea/
*.swp

# Testing
.pytest_cache/
.coverage
htmlcov/

# Build artifacts
build/
dist/
*.egg-info/

# Celery
celerybeat-schedule

# macOS
.DS_Store
