fastapi
uvicorn[standard]
python-dotenv
pydantic
sqlalchemy[asyncio]
alembic
pytest
black
isort
flake8
mypy
passlib[bcrypt]
email-validator
python-jose[cryptography]
python-multipart
pydantic-settings
httpx
celery
redis
