fastapi
uvicorn[standard]
python-dotenv
pydantic
sqlalchemy[asyncio]
psycopg2-binary
alembic
pytest
black
isort
flake8
mypy
passlib
email-validator
python-jose[cryptography]
python-multipart
pydantic-settings
httpx
celery
redis
google-auth
requests
